/* === ESTILOS GENERALES === */
body {
  margin: 0;
  background-image: linear-gradient(rgba(17, 17, 17, 0.90), rgba(17, 17, 17, 0.90)), url("../fondos/8697741.jpg");
  background-size: cover;
  overflow-x: hidden;
  font-family: sans-serif;
}

body::before {/* Creo el pseudo-elemento para añadir filtros de estilo en el fondo sin alterar el resto de elementos*/
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../fondos/8697741.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px); 
  z-index: -1; 
}

audio {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 800px;
  height: 744px;
  margin: auto;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level-up-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffd700, 0.8;
  color: black;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 999;
}

/* === PANTALLA DE INICIO === */

#containerbackground {
  background-image: url("../fondos/fondoinicio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  border-radius: 2px;
  height: 600px;
  width: 628px;
  box-shadow: 0 4px 20px rgb(255, 255, 255); /* Sombra suave para resaltar */
}

#start-btn {
  background-color: rgba(0, 35, 70, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra suave para resaltar */
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 0;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}

#start-btn:hover {
  background-color: rgba(0, 123, 255, 0.6); /* Azul más intenso al pasar el puntero */
}


#mobile-warning {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #111;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #mobile-warning {
    display: flex;
  }

  #splash-screen,
  #game-screen,
  #game-over-screen {
    display: none !important;
  }
}

/* === PANTALLA DE JUEGO === */
#game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-box {
  display: none;
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px; 
  border-color: #e3e3e3;
  background-color: rgba(rgba(0, 253, 255, 0.6));
  background-image: url("../fondos/nubes-fondo-40_.png");
  background-color: #fdfafa;
  background-position: top;
  background-size: cover;
  touch-action: none;
  box-shadow: 0 4px 15px rgb(255, 255, 255);
}


#game-box * {
  pointer-events: none;
}

/* === BONUS NIVEL 5 ===*/
.bonus-background {
  background-color: #fdf6b2, 0.80; /* un color claro o animación*/ 
  transition: background-color 0.5s;
}

/* === BOTÓN DE PAUSA === */
#pause-btn {
  background-color: rgba(74, 153, 232, 0.95);
  box-shadow: 0 4px 15px rgb(255, 255, 255);
  border-color: #e3e3e3;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

#pause-btn:hover {
  background-color: rgb(0, 87, 168); /* Azul más intenso al pasar el puntero */
}

/* === SCOREBOARD === */

#score-board {
  background-color: (0, 35, 70, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  row-gap: 25px;
  column-gap: 25px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 73px;
  padding: 10px 20px;
  box-shadow: 0 4px 15px rgb(255, 255, 255);
  border: 3px solid #009fff57;
  position: sticky;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  width: auto;
  min-width: 349px;
  position: fixed; 
  top: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
}

#score-board h3 {
  margin: 0;
  font-size: 20px;
  color: #ffffff; 
}

#score,
#max-score {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
}
#score-board,
#botonesOnOff {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#score-board {
  top: 0;
}
#botonesOnOff {
  top: 50px;
}


/* === PANTALLA FINAL === */


#container-end-background {
  background-image: url("../fondos/gameover_.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  height: 600px;
  width: 628px;
}

#game-screen,
#game-over-screen {
  display: none;
}

#restart-btn {
  background-color: rgba(0, 35, 70, 0.95);
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

#restart-btn:hover {
  background-color: rgba(0, 131, 255, 1); /* Azul más intenso al pasar el puntero */
}


/* === BOTONES DE SONIDO === */
#botonesOnOff {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 7px;
  position: fixed; 
  top: 100px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 500; 
}

#game-over-screen {
  background-color: rgba(199, 231, 242, 0.60); /* corregido */
}

#container-raking {
  background-color: rgba(199, 231, 242, 1); /* corregido */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
  text-align: center;
  width: 80%;
  max-width: 500px;
}

